h1{
    color:blue;
    background-color: yellow;
}
body{
    background-color: pink;
}
button{
    background-color: blue;
    color:white;
}

div{
    height:100px;
    width:100px;
    background-color: dodgerblue;
    color:white;
    border:1px solid black;

}
