h1{
    color:red;
}

h2{
    color:green;
}

button{
    color:brown;
    background-color: green;
}

body{
    /* background-color:rgb(241, 29, 6); */
}
#box{
    background-color:blue;
    color:white

}
.heading{
    color:red;
}